<%- include('partials/head_admin.ejs')%>

  <body>
    <%- include('partials/header_admi.ejs')%>


      <main class="mainadmin" style="justify-content:center; text-align: center;display: flex;
    justify-content: space-around;">
        <form class="crearp" id="form" action="/admin/products/edit/<%= product.id %>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <p class="titleadmin">Editar producto</p>
          <!-- Campo Nombre -->

          <label id="name" for="name">Nombre</label>
          <input type="text" id="name" name="name" value="<%= locals.old ? old.name : product.name %>" />
          <span id="nameErrors" class="text_error">
            <% if(locals.errors && errors.name) { %>
              <%= errors.name.msg %>
                <% } %>
          </span>
          </div>

          <!-- Campo Descripcion -->

          <label for="description" id="descript">Descripción</label>
          <input style="color: black;" type="textarea" id="description" name="description" class="textarea_input"
            value="<%= locals.old ? old.description : product.description %>" />
          <span id="descriptionErrors" class="text_error">
            <% if(locals.errors && errors.description) { %>
              <%= errors.description.msg %>
                <% } %>
          </span>
          </div>

          <!-- Campo Precio -->

          <div class="Precio1">
            <label for="inputprice" id="precioid" class="form-label">Precio</label>
            <input type="number" class="form-control" id="formPrice" name="price"
              value="<%= locals.old ? old.price : product.price %>" />
            <span id="priceErrors" class="text_error">
              <% if(locals.errors && errors.price) { %>
                <%= errors.price.msg %>
                  <% } %>
            </span>
          </div>

          <!-- Campo Descuento -->

          <div class="Descuento1">
            <label for="inputdiscont" id="descid" class="form-label">Descuento</label>
            <input type="number" class="form-control" id="inputdiscont" name="discount"
              value="<%= locals.old ? old.discount : product.discount %>" />
          </div>

          <!-- Campo Categoria -->

          <div class="Categoria1">
            <select class="form-select" id="specificSizeSelect" name="category">
              <option selected hidden value="">Categorias</option>
              <% categories.forEach(category=> { %>
                <option value="<%- category.id %>" <%- locals.old && old.category==category.id ? "selected" :
                  category.id==product.categories_id ? "selected" : "" %>
                  >
                  <%- category.name %>
                </option>
                <% }) %>
            </select>
            <span id="categoryErrors" class="text_error">
              <% if(locals.errors && errors.category) { %>
                <%= errors.category.msg %>
                  <% } %>
            </span>
          </div>

          <!-- Campo Imagen -->

          <section class="" style="display: flex; justify-content: space-between;padding-bottom: 4rem;">
            <div class="unaImagen">
              <label for="inputimage" class="adminedit">Imagen</label>
              <input type="file" class="form-control" id="inputimage" name="images" multiple hidden />
              <span id="fileErrors"></span>
            </div>
            </div>

            <!-- Errores de formulario -->

            <div class="Producto1">
              <span id="submitErrors"></span>
            </div>

            <!-- Boton de "Editar" -->

            <div>
              <button type="submit" class="btn btn-primary">Editar</button>
            </div>
            </div>
        </form>
      </main>
      <%- include('partials/footer.ejs') %>
        <script src="/js/productEdit.js"></script>
  </body>

  </html>