<%- include('partials/head_admin.ejs')%>
<%- include('partials/header_admi.ejs')%>
<body>
  <main class="mainadmin">

    <div class="crearprod">
      <form class="crearProducto" id="form" method="POST" enctype="multipart/form-data">
        <p class="titleadmin">Editar Producto</p>

        <label for="name">Nombre del producto</label>
        <input type="text" id="name" name="name"/>
        <% if (locals.errors && errors.name) { %>
          <small class="text_error">
              <%= errors.name.msg %>
          </small>
      <% } %>
        <span id="nameErrors"></span>

        <label for="description">Descripción</label>
        <input type="text" id="description" name="description"/>
        <% if (locals.errors && errors.description) { %>
          <small class="text_error">
              <%= errors.description.msg %>
          </small>
      <% } %>
        <span id="descriptionErrors"></span>

        <label for="price">Precio</label>
        <input type="number" name="price"/>
        <% if (locals.errors && errors.price) { %>
          <small class="text_error">
              <%= errors.price.msg %>
          </small>
      <% } %>

        <label for="discount">Descuento</label>
        <input type="number" name="discount"/>

        <select class="form-select" id="specificSizeSelect" name="category">
          <option selected hidden value="">Categorias</option>
          <% categories.forEach(category => { %>
            <option value="<%- category.id%>" <%= locals.old && old.category == category.name ? "selected" : null %>><%- category.name %></option>
          <% }) %>
        </select>
        <% if(locals.errors && errors.category) {%>
          <small class="text-danger"><%= errors.category.msg %></small>
        <% } %>

        <div class="box-2 mt-3">
          <div class="img-container" id="img-preview">
              
          </div>

        <div class="unaImagen">
          <label for="inputimage" class="adminedit">Imagen</label>
          <input type="file" class="form-control" id="formFile" name="images" multiple />
          <span id="fileErrors"></span>
        </div>
        <span id="submitErrors"></span>
        <div class="botonCrear">
          <button type="submit" class="Crear">Crear</button>
        </div>

      </form>
    </div>

    <script src='/js/admin_create.js'></script>

  </main>
</body>
<%- include('partials/footer.ejs') %>