<!DOCTYPE html>
<html lang="es">
<%- include('partials/head_admin.ejs')%>

    <body>

        <%- include('partials/header_admi.ejs') %>
        
    <section class="tablita">
        <table class="table">
            <thead class="columnas">
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Opciones</th>
            </tr>
            <% products.forEach(product => { %>
              <tr>
                <th scope="col"><%= product.id %> </th>
                <th scope="col"><%= product.name %> </th>
                <th scope="col"><%= product.description %> </th>
                <th scope="col"><%= product.price %> </th>
                <th scope="col"><%= product.category %> </th>
                <th scope="col"><a class="edit" href=""><i class="fas fa-edit"></i></a></th>
                <th scope="col"><a class="delete" href=""><i class="far fa-trash-alt"></i></i></a></th>
              </tr>
              <% }) %>
            </thead>
          </table>
    </section>
</body>
</html>