<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head_admin.ejs')%>
    <body>
     <%- include('partials/header_admi.ejs')%>
         <form class="crearp" action="/admin/products/edit/<%= product.id %>?_method=PUT" method="POST">
             <div class="elProducto">
               <label for="inputname" class="form-label">Producto</label>
               <input type="text" class="form-control" id="name" name="name" value="<%=product.name%>" />
               <span id="nameErrors"></span>
             </div>
             <div class="Descripcion1">
               <label for="description" class="form-label">Descripcion</label>
               <input type="text" class="form-control" id="description" name="description" value="<%=product.description%>" />
             <span id="descriptionErrors"></span>
              </div>
             <div class="Precio1">
               <label for="inputprice" class="form-label">precio</label>
               <input type="number" class="form-control" id="inputprice" name="price" value="<%=product.price%>" />
             
              </div>
             <div class="Descuento1">
               <label for="inputdiscont" class="form-label">Descuento</label>
               <input type="number" class="form-control" id="inputdiscont" name="discount" value="<%=product.discount%>" />
             </div>
             <div class="Categoria1">
              <select class="form-select" id="specificSizeSelect" name="category">
                <option selected hidden value="">Categorias</option>
                <% categories.forEach(category => { %>
                  <option <%= category.id === product.categories_id ? 'selected' : null %> value=<%= category.id %>><%= category.name %> </option>
                <% }) %>
              </select>
              <% if(locals.errors && errors.category) {%>
                  <small class="text-danger"><%= errors.category.msg %></small>
              <% } %>
             </div>

             <div class="box-2 mt-3">
              <div class="img-container" id="img-preview">
                  
              </div>
    
             <div class="Imagen1">
               <label for="inputimage" class="form-label">Imagen</label>
               <input type="file" class="form-control" id="formFile" name="image" value="<%=product.image%>" />
             <span id="fileErrors"></span>
              </div>
     
             </div>
             
             <div class="Producto1">
               <span id="submitErrors"></span>
               <button type="submit" class="btn btn-primary">Editar</button>
             </div>
           </form>
           <%- include('partials/footer.ejs') %>
           <script src="/js/admin_edit.js"></script>
 </body>
</html>