<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs' , {title: 'Productos' }) %>

  <body class="productos">
    <!-- comienza header  --->
    <%- include('partials/header.ejs') %>
      
      </h1>
      <!-- boton atrás  -->
      <div class="atras">
        <a href="/" style="color: teal">Volver</a>
      </div>
      <h1 class="heading_p" style="font-size: 2.3rem; margin-top: 8.6rem; text-align: center">
        Productos encontrados para:<span>
          <%= search %>
        </span>
     
      <section class="products" id="products">
        <div class="box-container">
              <% if (result.length > 0) { %>
                
                  <section class="products" id="products">
                      <% result.forEach(product => { %>
                        <div class="box-container">
                              <a href="/products/detail/<%- product.id %>">
                                  <div class="discount"><%- product.discount %>% OFF</div>
                                  <div class="image">
                                    <img src="/images/productos/<%- product.images[0].image%>" alt="">
                                  </div>
                                 
                                  <p class="productName"> 
                                      <% if (product.name.length > 30) { %>
                                          <%- `${product.name.slice(0,30)}...` %>
                                      <% } else { %>
                                          <%= product.name %>
                                      <% } %></p>
                                      <div class="price">$<%= toThousand(product.price)%>
                              </a>
                          </div>
                      <% }) %> 
                  </section> 
              <% }else{%>
                  <h2 class="subtitle">No hay resultados de la búsqueda de <%- search %></h2>
              <% } %>
          </div>
      </section>

      <div class="btn_volver" style="text-align: center;">
        <a href="/" class="btn">Volver</a>
      </div>
      <%- include('partials/banner.ejs') %>
        <!----   Comieza footer     ----->
        <%- include('partials/footer.ejs') %>

          <script src="js/main.js"></script>



  </body>

</html>