<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>

    <body class="user_body" style="display: flex;">
        
        <div class="container_user">
            
            <div class="ctn_form">
                <a href="/" class="close_x1">&times;</a>
                <h1 class="title-perfil">Editar Perfil</h1>
                
                <div class="profile_user_img">
                    <img src="/img/users_avatars/<%= user.avatar %>">
                </div>

                <form action="/user/userUpdate" method="POST" class="form-ad">
                    <div class="campo-edit">
                        <label>Nombre</label>
                        <input type="text" name="name" value=<%=user.name%>>
                        <% if (locals.errors && errors.name) { %>
                            <small class="text_error">
                                <%= errors.name.msg %>
                            </small>
                            <% } %>
                    </div>
                    <div class="campo-edit">
                        <label> Apellido </label>
                        <input type="text" name="last_name" value=<%=user.last_name%>>
                        <% if (locals.errors && errors.last_name) { %>
                            <small class="text_error">
                                <%= errors.last_name.msg %>
                            </small>
                            <% } %>
                    </div>
                    <div class="campo-edit">
                        <label> Email </label>
                        <input type="text" name="email" value=<%=user.email%>>
                        <% if (locals.errors && errors.email) { %>
                            <small class="text_error">
                                <%= errors.email.msg %>
                            </small>
                            <% } %>
                    </div>
                    <div class="campo-edit">
                        <label> Teléfono </label>
                        <input type="text" name="phone" value=<%=user.phone%>>
                        <% if (locals.errors && errors.phone) { %>
                            <small class="text_error">
                                <%= errors.phone.msg %>
                            </small>
                            <% } %>
                    </div>
                    

                    <% if (locals.errorMsg ) { %>
                        <small class="text_error">
                            <%= errorMsg %>
                        </small>
                        <% } %>
                        <div class="guardar-edit">
                            <input type="submit" value="Guardar">
                        </div>
            </form>

        </div>


        <%- include('partials/wsp.ejs') %>
    </body>
    <script src="/js/register"></script>
    <script src="/js/user.js"></script>

</html>