<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>

    <body class="user_body" style="display: flex;">
        
        <div class="container_user">
            
            <div class="ctn_form">
                <a href="/" class="close_x1">&times;</a>
                <h1 class="title">Iniciar sesión</h1>

                <form action="/users/login" method="POST" class="form-ad">
                    <div class="user_form">
                        <input type="email" name="email" placeholder="Ingresá tu email">
                        <% if (locals.errors && errors.email) { %>
                            <small class="text_error">
                                <%= errors.email.msg %>
                            </small>
                            <% } %>
                    </div>
                    <div class="user_form">
                        <input type="password" name="pass" placeholder="Ingresá tu ontraseña">
                        <% if (locals.errors && errors.pass) { %>
                            <small class="text_error">
                                <%= errors.pass.msg %>
                            </small>
                            <% } %>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="remember" id="check" style="margin-top: 1.8rem;">
                        <label for="check">Mantener sesión abierta</label>
                    </div>

                    <% if (locals.errorMsg ) { %>
                        <small class="text_error">
                            <%= errorMsg %>
                        </small>
                        <% } %>
                            <input type="submit" value="Iniciar">


                            <span class="text_end">¿Aún no te has regsitrado?
                                <a href="user/registrate">Registrate</a>
                            </span>
                            <span class="text_end">olvidaste tu contraseña?
                                <a href="contact">Recuperar</a>
                            </span>
            </div>
            </form>

            <div class="ctn_text">
                <div class="capa"></div>
                <a href="/" class="close_x">&times;</a>
                <h1 class="title_bvn">BIENVENID@ DE NUEVO</h1>
                <p class="text_bvn" style="text-align: center;">Inicia sesión para acceder a nuestras
                    promos.
                </p>
            </div>

        </div>


        <%- include('partials/wsp.ejs') %>
    </body>
    <script src="/js/register"></script>
    <script src="/js/user.js"></script>

</html>